.button {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #2A7AE4;
    border-radius: 4px;
    width: 140px;
    height: 45px;
    border-color: #FFFFFF;
    margin: 0.5%;

}