.lista-categoria {
    background-color: #53585D;
    padding: 2% 0;
    border-radius: 5px;
    border: none;
    color: #E5E5E5;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto';
    outline: #53585D;
}